<html>
<head>
  <title>Belajar web</title>
</head>
<style media="screen">
  body{
    background-color: yellow;
  }
  p{
    text-align: justify;
    text-indent: 15px;
    color: red;
  }
  .hijau{
    color: green;
  }
  #judul{
    color: brown;
  }
</style>
<body>
  <h1 class="hijau">Judul Besar</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
    deserunt mollit anim id est laborum.</p>
    <p style="color: blue;">belajar web itu mudah ingat ya</p>
    <p class="hijau">ini harusnya berwarna hijau</p>
    <h2 id="judul">bejalar css dulu</h2>
    <img src="khusni.jpg" alt="">
</body>
</html>
